// Board details at
// https://wiki.sipeed.com/hardware/en/tang/tang-nano-20k/nano-20k.html

// See examples here https://github.com/sipeed/TangNano-20K-example

IO_LOC "ext_clk"    4;
IO_PORT "ext_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "bck"        71;
IO_PORT "bck" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "sck"        72;
IO_PORT "sck" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "lrck"        77;
IO_PORT "lrck" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "dout"        75;
IO_PORT "dout" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "btn" 88;
IO_PORT "btn" PULL_MODE=NONE;

INS_LOC "\sine_lookup.wave.rom " BSRAM_R10[5];

IO_LOC  "la[0]" 15;
IO_PORT "la[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "la[1]" 16;
IO_PORT "la[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "la[2]" 27;
IO_PORT "la[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "la[3]" 28;
IO_PORT "la[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "la[4]" 25;
IO_PORT "la[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "la[5]" 26;
IO_PORT "la[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "la[6]" 29;
IO_PORT "la[6]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "la[7]" 30;
IO_PORT "la[7]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "la[8]" 31;
IO_PORT "la[8]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

